nav#main-menu li.selected {
  font-weight: bold;
}
nav#main-menu li.selected ul {
  font-weight: normal;
}

.manifesto {
  width: 200px;
}
.manifesto-img {
  display: block;
  margin: auto;
  width: 90%;
  padding: 10px;
  border-radius: 50%;
}
.manifesto-text {
  text-align: justify;
}