
<IfModule mod_rewrite.c>
RewriteEngine On

# If the requested path and file is not /index.php and the request
# has not already been internally rewritten to the index.php script
# (if request URI doesn't end by index.php)
RewriteCond %{REQUEST_URI} !/index\.php$

# and the requested path and file doesn't directly match a physical file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# internally rewrite the request to the index.php script
RewriteRule ^admin/?([a-z]+)?/?([a-z]+)?/?([0-9]+)?/?$ index.php?section=admin&resource=$1&action=$2&id=$3 [L]
RewriteRule ^(blog|category)/?([a-z0-9-]+)?$ index.php?section=$1&id=$2 [L]
RewriteRule ^([a-z0-9-]+)/([a-z]+)$ index.php?resource=$1&action=$2 [L]
RewriteRule ^([a-z0-9-]+)/?$ index.php?resource=$1 [L]

</IfModule>
